@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  
  background-color: rgb(255, 223, 233);
  
  font-family: 'Open Sans', sans-serif;
}

#dot{
  height: .3em;
  width: .3em;
}
.mainhandler{
  margin: 50px auto;
  padding-top: 50px;
  box-shadow: 0px 1vmin 5vmin;
  width: 60%;
  height: 1160px;
  border-radius: 5%;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.navhandler{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 80px;
}
ul{
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  color: #cfcfcf;
  font-size: 20px;
}
#trac{
  padding-left: 50px;
  font-weight: bold;
  font-size: 50px;
  z-index: 1;
}

.maincont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 50px;
  position: relative;
}

.left{
  margin: 80px;
  width: 300px;
  z-index: 1;
}
#exp{
  font-size: 55px;
  line-height: 1em;
  z-index: 1;
}
#anal{
  font-size: 30px;
  padding-bottom: -1vmin;
  color: #FA6797;
  z-index: 1;
}
p{
  padding-top: 15px;
  width: 280px;
  font-size: 20px;
  z-index: 1;
}
.button{
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 150px;
  height: 40px;
  grid-gap: 10px;
  z-index: 1;
}
#str{
  height: 45px;
  width: 120px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 50px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #4B2BB7;
  font-size: 15px;
}
#demo{
  height: 45px;
  width: 120px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px #4B2BB7;
  border-radius: 50px;
  padding: 0.5em 1em;
  color: #4B2BB7;
  background-color: white;
  font-size: 15px;
}


img{
  width: 110%;
}

#dotcir{
  position: absolute;
  width: 900px;
  height: 900px;
  right: -300px;
  top: -400px;
  opacity: 1; 
}
#photo1{
  position: absolute;
  width: 300px;
  right: 10vw;
  top: 150px;
}
#photo2{
  position: absolute;
  width: 300px;
  top: 50px;
  right: 30px;
}

#border{
  width: 46vw;
  border: 1px solid black;
  margin: auto;
}
#sign{
  padding-left: 130px;
  display: flex;
  flex-direction: column;
}
#siglabel{
}

#name, #email{
  width: 260px;
  height: 50px;
  border-radius: 10%;
  border: none;
  background-color: #E2DDEF;    
}
#sub{
  height: 45px;
  width: 120px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 50px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #4B2BB7;
  font-size: 15px;
  
}

footer{
  display: flex;
  justify-content: start;
  padding-left: 100px;
  padding-top: 30px;
  margin-top: 50px;
  height: 130px;
  width: 100%;
  background-color: #4B2BB7;
  color: white;
}

